# Dependências já existentes
pandas
scikit-learn
tensorflow
tensorflow_hub
optuna
keras_tuner
spacy
nltk
sentence-transformers
google-cloud-language
boto3                       # AWS Comprehend
azure-ai-textanalytics      # Azure Text Analytics
azure-core                  # Necessário para autenticação Azure
ibm-watson                  # IBM Watson NLU
fasttext
protobuf>=3.20              # Evita problemas de compatibilidade com TensorFlow e Google APIs
